<%- include('includes/head'); -%>
<body>
  <%- include('includes/header'); -%>


  <main>
    <div class="row px-5 m-5 my-2">
      <div class="col-6 ">
        <a href="/dashboard/profile" class="nav-link">
        <div class=" rounded-2 main-color p-2 pb-1">
          <ul class="list-unstyled">
            <li><strong><%= user.fullname %> </strong></li>
            <li><%= user.email %> </li>
          </ul>
        </div>
      </a>
      </div>
      <div class="col-6">
        <a href="/dashboard/rewards" class="nav-link">
        <div class="bg-secondary rounded-2 p-2 pb-1 text-white ">
          <ul class="list-unstyled">
            <li><strong>Your reward balance</strong></li>
            <li>&#8358; <%= totalAmount %>  </li>
          </ul>
        </div>
        </a>
      </div>
    </div>
<div class="px-5 mx-5">
    <div id="myCarousel" class="carousel slide m-0 h-auto p-5 mx-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
          aria-current="true"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="img/getty.jpg">

        </div>
        <div class="carousel-item">
          <img src="img/sales.webp">

        </div>
        <div class="carousel-item active">
          <img src="img/winter.webp">

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </main>
  <%- include('includes/footer'); -%>


</body>

</html>