<%- include('includes/head'); -%>

<body>
  <%- include('includes/header'); -%>


  <div class="list-group w-auto p-5 m-2">
    <div class="main-color text-center p-2 pt-3">
      <h3 class="text-center">Rewards History</h3>
      <h4><%= rewards.shopLocation %></h4>
      <p><%= rewards.date.toLocaleString() %></p>
      <h1> &#8358; <%= rewards.shoppingAmount %> </h1>
    </div>
    <table style="border:1px solid rgb(0 0 0 / 13%)">
      <thead class="bg-dark text-white">
        <th class="p-1">
          ITEM
        </th>
        <th class="p-1">QTY</th>
        <th class="p-1">
          PRICE
        </th>
        <th class="p-1">
          DISCOUNT
        </th>
      </thead>
      <tbody>
        <% for( let i = 0; i < rewards.product.length; i++ ) { %>
        <tr>
          <td class="p-1"><%= rewards?.product[i]?.item %> </td>
          <td class="p-1"><%= rewards?.product[i]?.qty %></td>
          <td class="p-1">&#8358; <%= rewards?.product[i]?.amount %></td>
          <td class="p-1">&#8358; <%= rewards?.product[i]?.discount %></td>
          
        </tr>
        <% } %>
      </tbody>
    </table>
  

    
  </div>


  <%- include('includes/footer'); -%>


</body>

</html>