<%- include('includes/head'); -%>

<style>
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }

    .me-2 {
        margin-right: .5rem !important;
    }
</style>
<body>
    <%- include('includes/header'); -%>
    <% if(errors !=null && errors.length> 0){ %>

        <% for (var i=0; i < errors.length; i++) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= errors[i] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <% } %>
    
    
        <% if(success !=null && success.length> 0){ %>
    
        <% for (var i=0; i < success.length; i++) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success[i] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <% } %>
    
    <div class="container p-5 m-auto" id="edit">
        <div class="main-body">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%=user.fullname %>
                                                </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%=user.email %>                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%=user.phone %>                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%=user.address %>
                                                </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn main-color " onclick="edit()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container p-5 m-auto" id="save" style="display:none">
        <div class="card">
            <div class="card-body">
                <form id="save-form" method="post" action="/dashboard/profile">
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" name="fullname" value="<%=user.fullname %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" readonly name="email" value="<%=user.email %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" name="phone" value="<%=user.phone %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" name="address" value="<%=user.address %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-secondary">
                            <button type="submit" class="btn main-color px-4" onclick="submit()">Save Changes</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <script src="/js/profile.js"></script>
    <%- include('includes/footer'); -%>

</body>

</html>